.head1{
	padding-bottom:2rem;
	font-family: "Roboto";
	font-weight: bold;
	padding-left:23%;
}

.head2{
	padding-bottom:2rem;
	font-family: "Roboto";
	font-weight: bold;
	padding-left:40%;
}

.imgnew{
	padding:0 10%;
}