body{
   background-color: #eee;
}
.container{
    margin-top: 100px;
}
.container-fluid,#container{
    margin-top: 100px;   
}
#main-container{
  
    display: flex;
    justify-content: center;
    align-items: center;
}
#imgupload{
    display: none;
}
a:hover{
    text-decoration: none;
}
.mockbutton{
 color:black;
 width: 100%;
 height:300px;
 background-repeat: no-repeat;
 background-position: center !important;
 background-color:white;
 background-clip: padding-box;
 background-image: url('../images/gallery.png');
 border: 1px solid #ced4da
}
#navbar a{
    margin-left: 10px;
  color: aliceblue;
}
.bg-light{
    background-color: #f5005a !important;
}
#code{
    border: 2px dashed #ced4da;
}
.navbar-toggler-icon:hover{
  color: black;
}
.btn{
   
    padding: 10px 20px;
    min-width: 100%;
}
#footer{
     background-color: #f5005a !important;
    min-height: 130px;
}
a{
    color: white;
    text-decoration: none;
}
li{
    list-style-type: none;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer-links{
    display: flex;
    justify-content:space-evenly;
   
}
#footer-links a{
margin-right: 10px;
}
#ad1{
    border-right: 1px dashed grey;
}
#ad2{
    border-left: 1px dashed grey;
   
}
#container{
    min-height: 100vh;
}
i{
     font-size: 10px;
}

@media(max-width:600px){
  
    #footer-links{
        display: flex;
        flex-direction: column;
    }
    #ad1,#ad2{
        display: none;

    }
  #container{
    min-height: 100vh;
}
}
#ip1,#ip2,#ip3,#ip4{
    display: none;
}
#ip1_value,#ip2_value,#ip3_value,#ip4_value{
    border-bottom:1px solid rgb(87, 82, 82);
}
#c1,#c2,#c3,#c4{
    cursor: pointer;
}
input[type='checkbox']{
    position: relative;
    width: 60px;
    height: 30px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    transition: 0.5s;
}
input:checked[type='checkbox']{
    background: #03a9f4;
}
input[type='checkbox']:before{
    content:'';
    position: absolute;
    width: 30px;
    height:30px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background:#fff;
    transform:scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: .5s ease;
}
input:checked[type='checkbox']:before{
    left: 60%;
}