body{
   background-color: #eee;
}
.container{
    margin-top: 100px;
}
.container-fluid,#container{
    margin-top: 100px;   
}
#imgupload{
    display: none;
}
a:hover{
    text-decoration: none;
}
#mockbutton{
 color:black;
 width: 100%;
 height:300px;
 background-repeat: no-repeat;
 background-position: center !important;
 background-color:white;
 background-clip: padding-box;
 background-image: url('./images/gallery.png');
 border: 1px solid #ced4da
}
#navbar a{
    margin-left: 10px;
  color: aliceblue;
}
.bg-light{
    background-color: #f5005a !important;
}
#code{
    border: 2px dashed #ced4da;
}
.navbar-toggler-icon:hover{
  color: black;
}
.btn{
   
    padding: 10px 20px;
    min-width: 100%;
}
#footer{
     background-color: #f5005a !important;
    min-height: 130px;
}
a{
    color: white;
    text-decoration: none;
}
li{
    list-style-type: none;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer-links{
    display: flex;
    justify-content:space-evenly;
   
}
#footer-links a{
margin-right: 10px;
}
#ad1{
    border-right: 1px dashed grey;
}
#ad2{
    border-left: 1px dashed grey;
   
}
#container{
    min-height: 100vh;
}
i{
     font-size: 10px;
}

@media(max-width:600px){
  
    #footer-links{
        display: flex;
        flex-direction: column;
    }
    #ad1,#ad2{
        display: none;

    }
  #container{
    min-height: 100vh;
}
}
