<!DOCTYPE html>
<html>

<head>
   <title>WECBR Student Partner</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="../css/register.css">
   <script src="../js/register2.js"></script>
</head>

<body>

   <div class="row">
      <div class="col-md-1 pl-6 ">
         <img src="../images/logo.png" alt="Girl in a jacket" style="width:100px; height:100%;">
      </div>
      <div class="col-md-4 mt-4 bl-0">
         <h4 class=" heading">WECBR Quiz Section</h4>
      </div>
      <div class="col-md-7">
      </div>
   </div>

   <div class="row bgbody">

      <div class="col-md-1">
      </div>

      <div class="col-md-5 pl-0 ml-0 bl-0 bgimage">

      </div>
      <div class="col-md-5">
         <div class="flip-container">
            <div class="flipper" id="flipper">
               <div class="front">
                  <div class="jumbotron pb-0" id="jumbotronnew">
                     <h1>Welcome To WECBR :)</h1>
                     <p class="lead"> Please Login Here With Your Information.</p>
                  </div>
                  <form action="/login" onsubmit="return validation()" class="basic" method="POST">
                     <div class="form-group">
                        <label class="font-weight-bold" for="exampleInputEmail">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email ID" name="username" required>
                        <small id="emailHelp" class="form-text text-muted ">We'll never share your email with anyone
                           else.</small>
                     </div>
                     <div class="form-group">
                        <label class="font-weight-bold"> Password: </label>
                        <input type="password" name="password" class="form-control" id="pass" placeholder="Password">
                     </div>
               </div>
               <div class="form-group">
                  <input type="checkbox" onclick="myFunction()">
                  <label class="font-weight-bold">Show Password</label>
               </div>

               <input type="Submit" name="Submit" value="Submit" class="btn btn-danger" autocomplete="off">
               </form><br>
               <a id="loginButton" href="#">Create New account </a><br>
               <a id="loginButton" href="#">Forgot Password</a>
               <div class="col-md-1">
               </div>
</body>
</html>
